body {
    background-color: #dde6e4;
  }
  
header {
color: #132743;
}
  
h1 {
color: #356075;
}
  
h2 {
color: #356075;
}

table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }